.required-field::after {
    content: " *";
    color: red;
}
input:required, textarea:required {
    border: 2px solid red;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: flex-start; /* Align content to the start of the container */
    align-items: center; /* Center items horizontally */
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background-image: url('/static/images/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    text-shadow:
        -3px -3px 0 #000,
        3px -3px 0 #000,
        -3px 3px 0 #000,
        3px 3px 0 #000;
}

form {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    border: 1px solid #333;
    margin-top: 20px; /* Add margin to the top of the form */
}


label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: white;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
}

input[type="submit"] {
    background-color: #5e5ce6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #4a48c7;
}
