<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tracking.css') }}">
    <title>Tracking</title>
</head>
<body>
    <h1>Rastreo del flete</h1>
    {% if status %}
        <p>Número de rastreo: {{ status['tracking_number'] }}</p>
    {% else %}
        <p>El número de reastreo no existe</p>
    {% endif %}
    <ul id="tacking_levels">
        <li>Creado</li>
        <li>Recolectado</li>
        <li>En tránsito</li>
        <li>Entregado</li>
    </ul>
    <script>
        const checkedIndex = {{ status['status'] }}; // The index of the item to be checked
        const listItems = document.querySelectorAll('#tacking_levels li');
      
        listItems.forEach((item, index) => {
          if (index <= checkedIndex) {
            item.classList.add('checked');
          }
        });
      </script>
</body>
</html>
