<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tracking.css') }}">
    <title>Tracking</title>
</head>
<body>
    <h1>Rastreo del flete</h1>
    <ul id="lista_de_rastreo">
        <li>Creado</li>
        <li class="checked">Recolectado</li>
        <li>En tránsito</li>
        <li>Entregado</li>
    </ul>
</body>
</html>
